<div id="chatDiv" style="height:40em;">
	<div class="btn-group btn-group-sm" role="group" aria-label="Chat rooms">
		<button type="button" id="chat-global" class="btn btn-outline-light btn-sm chatRoomSelect active">Global</button>
		<button type="button" id="chat-guild" class="btn btn-outline-light btn-sm chatRoomSelect">Guild</button>
		<button type="button" id="chat-area" class="btn btn-outline-light btn-sm chatRoomSelect">Area</button>
	</div>
	<div id="history"></div>
	<form id="chat">
		<input class="form-control form-control-sm" type="text" id="chatMessageText" name="msg_text" />
		<input type="submit" class="btn btn-outline-light btn-sm" id="chatMessageSubmit" value="Send!" /> 
	</form>
</div>