<div class="row">
	<div class="col">
		<div class="row">
			<div class="col text-center">
				<h2>Welcome, {{name}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				{{awaken}}
			</div>
		</div>
		<div class="row">
			<div class="col">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<input type="submit" id="statsStart" name="submit" value="Go Adventuring!" class="btn btn-secondary">
			</div>
		</div>
	</div>
</div>