<!-- Footer -->
<footer class="page-footer font-small bg-dark">
	<!-- Footer Links -->
	<div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

		<!-- Grid column -->
		<div class="col-md-3 mx-auto">

			<!-- Links -->
			<ul class="list-unstyled">
				<li>
					<div class="fb-like" data-href="https://www.facebook.com/DragonCourtMobile/" data-colorscheme="dark" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
				</li>
				<li>
					<a href="https://www.facebook.com/DragonCourtMobile/">DCMobile on FB</a>
				</li>
				<li>
					<a href="mailto:jason.allen.oneal@gmail.com">jason dot allen dot oneal at gmail dot com</a>
				</li>
			</ul>
		</div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Dragon Court Mobile</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->