<div style="background-color:#00c79f" class="h-100 region">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-6"><span style="font-size:1.3em">Main Street in Salamander Township</span></div>
				<div class="col-6 mt-4 text-center">
					<div class="region-change" data-id="castle">
						<img class="img-fluid" src="/images/game/regions/to_castle.jpg"><br>Castle Gate
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 mt-2 offset-2 text-center">
					<div class="shop" data-id="weapons">
						<img class="img-fluid" src="/images/game/shops/weapons.jpg"><br>Smith's Weapons
					</div>
				</div>
				<div class="col-6 text-center">
					<div class="shop" data-id="tavern">
						<img class="img-fluid"src="/images/game/shops/tavern.jpg"><br>Keeper's Tavern
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-6 mt-5 text-center">
					<div class="region-change" data-id="fields">
						<img class="img-fluid" src="/images/game/regions/to_fields.jpg"><br>Leave Town
					</div>
				</div>
				<div class="col-6 mt-5 text-center">
					<div class="shop" data-id="trade">
						<img class="img-fluid" src="/images/game/shops/trade.jpg"><br><br>Trade Shoppe
					</div>
				</div>
			</div>
		</div>
	</div>
</div>